body{
    background-color:#8097a7   ;
    color:whitesmoke;
}
.container{
    position: relative;
    background:url('../img/adrenaline-adult-buildings-373934.jpg')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top:30px;  
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    &:after{
        background: linear-gradient(45deg,rgba(228, 134, 11, 0.1) 10%,rgba(221, 4, 4, 0.938) 95%);
    }

    &.shadow{
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
} 
.top-bar{
    z-index: 9999;
    background-color: transparent;
    ul{
        background-color: transparent;
    }
}