@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
$paddingFromTop: 3vh;
$borderRadius:3px;
body {
 // background-color: rgba(100, 116, 126, 0.596);
 background-color: rgba(226, 196, 187, 0.486);
}

.container {
  background: white;
  position: relative;
  top: $paddingFromTop;
  margin: 0 auto 0 auto;
  max-width: 70rem;
  border-radius: $borderRadius;
  box-shadow: 0 19px 38px rgba(73, 73, 73, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  .orbit{
    color:white;
  }
}
 
.orbit {
  height: 70vh;
}

.row {
  padding-top: $paddingFromTop;
}
 
.top-bar {
  font-weight: 300; 
  background-color: transparent;
  ul {
    background-color: transparent;
    a {
      color: white;
      &:hover {
        color: #c4c4c4;
      }
    }
  }
}
.image-bg {
  background: url("../img/adrenaline-adult-buildings-373934.jpg") no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: relative;
  -o-background-size: cover;
  background-size: cover;
  border-radius: $borderRadius $borderRadius 0 0 ;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: 0.6;
    z-index: 0;
    border-radius: $borderRadius $borderRadius 0 0 ;
  }
}

